/* Gallery Styles */

#wrapper {
    display: flex;
    flex-wrap:wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 110px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
  }

  .example-images {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
    padding-bottom: 100px;
  }

  .one-third {
    width: 29%;
    float: left;
    margin: 2%;
  }

  img:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 768px) {
    .one-third {
        width: 48%;
        margin: 1%;


    }
     .example-images {
       padding-bottom: 10px;
     }
  }

  @media screen and (max-width: 480px) {
    .one-third {
        width: 100%;
        margin-bottom: 40px;
    }
  }
