body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_color {
    /*background-color: #FFC921;*/
    background-color: #FFD963;
    height: 100%;
}

/* Hero Styles */

.main_hero {
   text-align: center;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

.main_hero-head1 {
   font-size: 7em;
   font-weight: 900;
   text-shadow: -2px 5px 3px #444;
   margin-bottom: 0;
   color: #fff;
   font-family: "Great Day Personal use";
}

@media only screen and (max-width: 1000px) {
   .main_hero-head1 {
      font-size: 5em;
   }
}

@media only screen and (max-width: 670px) {
   .main_hero-head1 {
    line-height: 125px;
   }
}

@media only screen and (max-width: 670px) {
   .main_hero-head1 {
    line-height: 110px;
    font-size: 4em;
   }
}
/* About Me Section Styles */

.about_me {   
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 25px;
    text-align: center;
}

.about_me-title {
   margin-bottom: 25px;
   margin-top: 50px;
}

.about_me-subtitle {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 25px;
}

.about_me-signature {
   margin-top: 18px;
   font-family: "Great Day Personal Use";
   font-size: x-large;
}

.about_me-description {
   text-align: justify;
   font-size: 1.4em;
   font-weight: 300;
}

@media only screen and (max-width: 1500px) {
   .about_me {
    margin-left: 12%;
    margin-right: 12%;
   }
}

@media only screen and (max-width: 1000px) {
   .about_me {
    margin-left: 12%;
    margin-right: 12%;
   }
}

@media only screen and (max-width: 670px) {
   .about_me {
    margin-left: 8%;
    margin-right: 8%;
   }
}

@media only screen and (max-width: 500px) {
   .about_me {
    margin-left: 13%;
    margin-right: 13%;
   }
}
/* Footer Styles */

#footer {
   border-top: 1px solid #e1e4e8;
   height: 50px;
   display: flex;
   flex-direction: column;
   margin-left: 26px;
   margin-right: 26px;
}

.footer-copyright {
   font-size: 12px;
   color: #586069;
   text-align: center;
   margin-top: 25px;
   margin-bottom: 25px;
} 

