* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Roboto;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    white-space: nowrap;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 100px;
}

pre > .code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

.code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.code a {
    color: #67F967;
}

textarea {
    height: 350px;
}

