* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    height: 100%;
    width: 100%;
}

.content-wrapper {
    max-width: 560px;
    width: 96%;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.main-hero {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avi {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}

#avi:hover {
    height: 125px;
    opacity: .8;
    transform: scale(1.1);
    transition: all 2s;
}

#heading {
    font-size: 2.5rem;
    letter-spacing: -1px;
    color: #222;
    font-weight: 700;
    margin: 5px 0 13px;
}

#description {
    font-weight: 300;
    font-style: normal;
    color: #aaa;
    margin: 0 auto 30px;
}

.nav-menu {
    padding: 50px 0;
    text-align: center;
}
  
.nav-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 10px;
    position: relative;
    z-index: 1;
}
  
.nav-list-item {
    display: inline-block;
}
  
.nav-menu a, .nav-menu a:after {
    transition: all .5s;
}
  
.nav-list-item a:hover {
    color: indigo;;
    z-index: 1;
}

.nav-menu a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '.';
    color: transparent;
    width: 0%;
    height: 1px;
    background: #aaa;
}
  
.nav-menu a:hover:after {
   width: 100%;
}
  
.social-icon-list {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.social-icon {
    padding-left: 15px;
    padding-right: 15px;
}
.icon {
    font-size: 1.2rem;
    color:#000;
}

.icon:hover {
    color: red;
    transition: .2s;
}

.footer {
    border-top: 1px solid #ededed;
    padding: 40px 0;
    margin: 40px 0 0;
    color: #aaa;
    font-weight: 300;
    text-align: center;
    position: relative;
}