@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

$borders: 1px solid #e1e4e8;
$shadows: 2px 5px 3px #444;
$font: 'Montserrat' , sans-serif;
$hero_font: "Zeyada" , 'Montserrat' , sans-serif;
$bg_color1: #FFC921;
$bg_color2: #FFD963;
$bg_color3: #FFAF4A;
$bg_color4: #a94c4c;
$bg_color5: #9F6262;
$bg_color6: #793636;
$bg_color7: #B86B77;
$bg_color8: #2694AB;
$bg_color9: #FDC4B6;
$bg_color10: #A37ACC;
$bg_color11: #F6CFCA;
$bg_color12: #da674a;
$footer: #586069;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat' , sans-serif;

}

    .main_hero-wrap{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .main_hero {
        text-align: center;

        .me-hero {
            font-size: 10em;
            font-weight: 900;
            text-shadow: $shadows;
            margin-bottom: 0;
            color: #fff;
            font-family: $hero_font; 
        }

        .me-subhero {
            font-size: 2em;
            font-weight: 200;
            text-shadow: $shadows;
            margin-bottom: 0;
            color: #fff;
            font-family: 'Cutive Mono';
        }

    }

    @media only screen and (max-width: 1000px) {
        .me-hero {
            font-size: 5em !important;
        }
    }
    
    @media only screen and (max-width: 670px) {
        .me-hero {
            line-height: 75px;
        }
    }
    
    .header_color {
        background: linear-gradient($bg_color4, $bg_color3);
        height: 100%;
        
    }

    .about_me {  
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 25px;
        text-align: center;

        .about_me-title {
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .about_me-description {
            text-align: justify;
            font-size: 1.4em;
            font-weight: 300;
            margin-top: 1rem;
        }

        .about_me-signature {
            margin-top: 18px;
            font-family: $hero_font;
            font-size: 2em;
        }
    }

    @media only screen and (max-width: 1500px) {
        .about_me {
            margin-left: 12%;
            margin-right: 12%;
        }
    }

    @media only screen and (max-width: 670px) {
        .about_me {
            margin-left: 8%;
            margin-right: 8%;
        }
    }

    @media only screen and (max-width: 500px) {
        .about_me {
            margin-left: 13%;
            margin-right: 13%;

            .about_me-subtitle {
                display: none;
            }

            .about_me-signature {
                margin-bottom: 0;
            }
        }
    }

    #footer {
        border-top: 1px solid #e1e4e8;
        height: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 26px;
        margin-right: 26px;

        .footer-copyright {
            font-size: 12px;
            color: #586069;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }